<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="{{ site.Language.Lang }}">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ .Title }} · {{ site.Title }}{{ end }}</title>
    <link rel="icon" href="{{ "images/favicon.ico" | relURL }}" type="image/x-icon">
    {{ with site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
    {{ with resources.Get "css/main.css" }}
      <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}
  </head>
  <body>
    <table class="site" cellpadding="0" cellspacing="0" border="0">
      <tr><td>
        {{ partial "header.html" . }}
        {{ block "main" . }}{{ end }}
        {{ partial "footer.html" . }}
      </td></tr>
    </table>
  </body>
</html>
